* {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style-type: none;
}

ul {
  display: flex;
}

a {
  text-decoration: none;
}

.dp1 > li {
  width: 100px;
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.dp1 > li > .dp2 {
    background-color: yellow;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    display: none;
}

.dp1 > li:hover .dp2{
    color: blue;
    display: block;
}
