* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    border: 1px solid black;
}
div{
    width: 200px;
    height: 200px;
}
div.box1{
    background-color: red;
    position: absolute;
    top: 100%;
}
div.box2{
    background-color: yellow;
}
.container{
    width: 500px;
    height: 500px;
    background-color: green;
    position: relative;
    top: 200px;
}
footer{
    
}
    
